.page3 {
  position: relative;
  width: 100%;
  height: 100%;
}
.msg1,
.msg11,
.msg12,
.msg13 { 
    position: relative;
  width: min(100%, 280px);
  aspect-ratio: 2/1;
  left: 50%;
  transform: translate(-50%, 0%);
  background-image: url("https://i.imgur.com/0pEyWg8.png");
  background-size:80% auto ;
  background-position: center 70%;
  background-repeat: no-repeat;

  transition: all 1s ease;
}
.msg11 {
  background-image: url("https://i.imgur.com/uA8BnLP.png");
  background-size:  80% auto;
  background-position: center 70%;
  background-repeat: no-repeat;
}
.msg12 {
  background-image: url("https://i.imgur.com/9JFBBP9.png");
  background-size: 80% auto;
  background-position: center 70%;
  background-repeat: no-repeat;
}
.msg13 {
  background-image: url("https://i.imgur.com/zJGedn5.png");
  background-size: 80% auto;
  background-position: center 70%;
  background-repeat: no-repeat;
}

.bubble {
  width: min(98%, 280px);
  aspect-ratio: 1/1;
  position: relative;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  background-image: url("https://i.imgur.com/tHrkkQt.png");
  background-image: url("https://i.imgur.com/pUVePp9.png");
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  border-radius: 50%;
}
.pack1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-image: url("https://i.imgur.com/WdvF8Nc.png");
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 1s ease;
}
.pack2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-image: url("https://i.imgur.com/7tRaeLr.png");
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 1s ease;
}
.pack3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-image: url("https://i.imgur.com/JlfP8PV.png");
  background-size: auto 90%;
  background-position: center bottom;
  background-repeat: no-repeat;
  transition: all 1s ease;
}
.pack4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-image: url("https://i.imgur.com/ZRH86zd.png");
  background-size: auto 90%;
  background-position: center bottom;
  background-repeat: no-repeat;
  transition: all 1s ease;
}
.pack5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-image: url("https://i.imgur.com/clzIp0B.png");
  background-size: 90% auto;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 1s ease;
}
.video1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  video {
    filter: brightness(1.1);
  }
}
.videoOverlay1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(14, 98, 167, 0.356);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease;
}
.video2 {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  
  // video {
  //   filter: brightness(1.1);
  // }
}
.video3 {
  // position: absolute;
  // top: 50%;
  // left: 40%;
  // transform: translate(-50%, -50%);
  top: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
  
   video {
     filter: brightness(1.1);
   }
}
.videoOverlay3 {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(52, 139, 209, 0.247);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease;
}
.msg2,
.msg21,
.msg22,
.msg23 {
    width: min(100%, 280px);
    aspect-ratio: 1/2;

  position: relative;
  left: 50%;
    transform: translate(-50%, 0%);
  div {
    height: 50%;
    background-image: url("https://i.imgur.com/v83MoJY.png");
    background-size: 90% auto ;
    background-position: center top;
    background-repeat: no-repeat;
    transition: all 1s ease;
  }
  
}
.msg21 {
  div {
    height: 50%;
    background-image: url("https://i.imgur.com/n8moLfY.png");
    background-size: 90% auto;
    background-position: center top;
    background-repeat: no-repeat;
    transition: all 1s ease;
  }
}
.msg22 {
  div {
    height: 50%;
    aspect-ratio: 1/1;
    background-image: url("https://i.imgur.com/sjge55n.png");
    background-size: 90% auto;
    background-position: center 20%;
    background-repeat: no-repeat;
    transition: all 1s ease;
  }
}
.msg23 {
  div {
    height: 50%;
    aspect-ratio: 1/1;
    background-image: url("https://i.imgur.com/8vKybx9.png");
    background-size: 90% auto;
    background-position: center 20%;
    background-repeat: no-repeat;
    transition: all 1s ease;
  }
}
.btnL {
    position: absolute;
    width: min(20%, 80px);
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: none;
    bottom: 4%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 3s ease 3s;
    background-image: url("https://i.imgur.com/8IqkSuR.png");
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
  }
